{{- $tracing := (include "common.tracing.merged" .) | fromYaml }}
{{- $metrics := (include "common.metrics.merged" .) | fromYaml }}
{{- $serviceUrls := (include "common.serviceUrls.merged" .) | fromYaml }}
{{- $jobDefinitions := (include "common.jobDefinitions.merged" .) | fromYaml }}
{{- $fs := (include "common.fs.merged" .) | fromYaml }}
{{ $gpkgLocation := (printf "%s/%s" $fs.internalPvc.outputPath $fs.internalPvc.gpkgSubPath) }}

{{- if .Values.enabled -}}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ printf "%s-configmap" (include "polygon-parts-worker.fullname" .) }}
data:
  REQUEST_PAYLOAD_LIMIT: {{ .Values.env.requestPayloadLimit | quote }}
  RESPONSE_COMPRESSION_ENABLED: {{ .Values.env.responseCompressionEnabled | quote }}
  LOG_LEVEL: {{ .Values.env.logLevel | quote }}
  LOG_PRETTY_PRINT_ENABLED: {{ .Values.env.logPrettyPrintEnabled | quote }}
  TELEMETRY_TRACING_ENABLED: {{ $tracing.enabled | quote }}
  {{ if $tracing.enabled }}
  TELEMETRY_TRACING_URL: {{ $tracing.url }}
  {{ end }}
  {{ if $metrics.enabled }}
  TELEMETRY_METRICS_ENABLED: {{ $metrics.enabled | quote }}
  TELEMETRY_METRICS_URL: {{ $metrics.url }}
  {{ end }}
  JOB_MANAGER_BASE_URL: {{ $serviceUrls.jobManager | quote}}
  HEARTBEAT_BASE_URL: {{ $serviceUrls.heartbeatManager | quote}}
  POLYGON_PARTS_MANAGER_BASE_URL: {{ $serviceUrls.polygonPartsManager | quote}}
  JOB_TRACKER_BASE_URL: {{ $serviceUrls.jobTracker | quote}}
  HEARTBEAT_INTERVAL_MS: {{ .Values.env.jobManagement.config.heartBeat.intervalMs | quote }}
  DEQUEUE_INTERVAL_MS: {{ .Values.env.jobManagement.config.dequeueIntervalMs | quote }}
  VALIDATIONS_TASK_TYPE: {{ $jobDefinitions.tasks.validations.type }}
  INGESTION_NEW_JOB_TYPE: {{ $jobDefinitions.jobs.new.type }}
  INGESTION_UPDATE_JOB_TYPE: {{ $jobDefinitions.jobs.update.type }}
  INGESTION_SWAP_UPDATE_JOB_TYPE: {{ $jobDefinitions.jobs.swapUpdate.type }}
  EXPORT_JOB_TYPE: {{ $jobDefinitions.jobs.export.type }}
  MAX_ATTEMPTS: {{ $jobDefinitions.tasks.maxAttempts | quote }}
  GPKGS_LOCATION: {{ $gpkgLocation | quote }}
  npm_config_cache: /tmp/
  HTTP_RETRY_ATTEMPTS: {{ .Values.env.httpRetry.attempts | quote }}
  HTTP_RETRY_DELAY: {{ .Values.env.httpRetry.delay | quote }}
  HTTP_RETRY_RESET_TIMEOUT: {{ .Values.env.httpRetry.resetTimeout | quote }}
  DISABLE_HTTP_CLIENT_LOGS: {{ .Values.env.disableHttpClientLogs | quote }}
  INGESTION_SOURCES_DIR_PATH: {{ printf "/%s" $fs.ingestionSourcePvc.mountPath | quote }}
{{- end }}
